		</div> <!-- pagebox -->

		<!--<div class="border"></div>-->

		<div id="footer">
			<div id="copyright">
				Copyright &copy; 2011<script language="JavaScript">var d=new Date(); yr=d.getFullYear(); if (yr!=2011) document.write("-"+yr);</script> <a href="http://secondgearsoftware.com">&nbsp;Second Gear</a>
			</div>
		</div>
        <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
        <style type="text/css" media="screen, projection">
          @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
        </style>
        <script type="text/javascript">
          if (typeof(Zenbox) !== "undefined") {
            Zenbox.init({
              dropboxID:   "20103374",
              url:         "https://secondgear.zendesk.com",
              tabTooltip:  "Support",
              tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_support.png",
              tabColor:    "black",
              tabPosition: "Left"
            });
          }
        </script>
	</body>
</html>
