<div id="bannerbackground">
            <div id="navigation">
                <div id="innernav">
                    <a href="http://twitter.com/glassboard" id="twitterlink">Twitter</a>
                    <a href="http://www.facebook.com/pages/Glassboard/215233918516446" id="facebooklink">Facebook</a>
                    <a href="http://secondgearsoftware.com/blog/" id="bloglink">Blog</a>
                    <a href="/privacy/">Privacy</a>
                    <a href="/support/faqs.html">FAQ</a>
                    <a href="/support">Support</a>
                    <a href="/premium">Pricing</a>
                    <a href="https://plus.google.com/106901073398628219825" id="googleplus" rel="publisher">Google+</a>
                </div>
                <div style="display:inline-block;" id="applink">

                <a href="https://app.glassboard.com/">
                    <button class="greenbutton" id="loginbutton" style="margin-top:5px">Sign In</button>
                </a>
                </div>
            </div>
        </div>

        <div id="pagebox">
